In [1]:
import os
import numpy as np
import pandas as pd
import shioaji as sj
from sj_trading import account, trader_long_term
from IPython.display import display

api = sj.Shioaji(simulation=True)
api.login(
    api_key=os.environ["API_KEY"],
    secret_key=os.environ["SECRET_KEY"],
    fetch_contract=True,
    contracts_timeout=10000
)

Trader = trader_long_term.Trading(api, account.profile)

symbols = ['2330', '2454']
data = Trader.get_market_data(symbols) # data is a dict with {sym, dataframe} pair

# view dataframe of one of symbols
keys = list(data.keys())
key = keys[0]
display(data[key])

# dataframe with SMA signal
# default method SMA-20
sma = Trader.analyze_signal(symbol=symbols[0])
display(sma)

2025-03-16 20:11:06.534 | WARNING  | importlib._bootstrap:_call_with_frames_removed:241 - Optional: pip install shioaji[speed] for better performance.

1.2.5
Response Code: 0 | Event Code: 0 | Info: host '210.59.255.161:80', IP 210.59.255.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up

2025-03-16 20:11:07,635 - AutoTrader - INFO - Today is not trading day
2025-03-16 20:11:07,635 - AutoTrader - INFO - Simulate transaction by historical ticks for 2330
2025-03-16 20:11:08,008 - AutoTrader - INFO - 2330 has been read in market data
2025-03-16 20:11:08,009 - AutoTrader - INFO - Simulate transaction by historical ticks for 2454
2025-03-16 20:11:08,112 - AutoTrader - INFO - 2454 has been read in market data

                             ts  close  volume  bid_price  bid_volume  \
0    2025-03-14 09:00:00.983008  965.0    3660      965.0         643
1    2025-03-14 09:00:00.995296  966.0       2      965.0         643
2    2025-03-14 09:00:01.134088  965.0      25      965.0         636
3    2025-03-14 09:00:01.190067  966.0       1      965.0         647
4    2025-03-14 09:00:01.264306  966.0       2      965.0         653
...                         ...    ...     ...        ...         ...
8947 2025-03-14 13:24:58.543193  962.0       2      962.0         214
8948 2025-03-14 13:24:58.692367  962.0       1      962.0         213
8949 2025-03-14 13:24:59.361847  963.0       1      962.0         213
8950 2025-03-14 13:24:59.416397  963.0       5      962.0         213
8951 2025-03-14 13:30:00.000000  959.0    6948      959.0         210

      ask_price  ask_volume  tick_type
0         966.0         139          0
1         966.0         137          1
2         966.0         427          2
3         966.0         443          1
4         966.0         444          1
...         ...         ...        ...
8947      963.0          19          2
8948      963.0          19          2
8949      963.0          19          1
8950      963.0          14          1
8951      960.0          54          2

[8952 rows x 8 columns]
                             ts   close  volume  bid_price  bid_volume  \
0    2025-03-14 09:00:11.214543  1400.0     223     1400.0          37
1    2025-03-14 09:00:11.292926  1405.0       4     1400.0          59
2    2025-03-14 09:00:11.313042  1405.0       1     1400.0          66
3    2025-03-14 09:00:11.335542  1405.0      17     1400.0          68
4    2025-03-14 09:00:11.336829  1400.0       2     1400.0          66
...                         ...     ...     ...        ...         ...
2027 2025-03-14 13:24:30.062231  1415.0       1     1405.0          93
2028 2025-03-14 13:24:31.526174  1415.0       1     1405.0          94
2029 2025-03-14 13:24:49.295616  1410.0       1     1405.0          89
2030 2025-03-14 13:24:58.593386  1405.0       5     1405.0          58
2031 2025-03-14 13:30:00.000000  1400.0    1226     1400.0         269

      ask_price  ask_volume  tick_type
0        1405.0          24          1
1        1405.0          18          1
2        1405.0          17          1
3        1410.0          32          1
4        1410.0          32          2
...         ...         ...        ...
2027     1415.0          87          1
2028     1415.0          86          1
2029     1410.0          54          1
2030     1410.0          55          2
2031     1405.0          41          2

[2032 rows x 8 columns]

,ts,close,volume,bid_price,bid_volume,ask_price,ask_volume,tick_type
0,2025-03-14 09:00:00.983008,965.0,3660,965.0,643,966.0,139,0
1,2025-03-14 09:00:00.995296,966.0,2,965.0,643,966.0,137,1
2,2025-03-14 09:00:01.134088,965.0,25,965.0,636,966.0,427,2
3,2025-03-14 09:00:01.190067,966.0,1,965.0,647,966.0,443,1
4,2025-03-14 09:00:01.264306,966.0,2,965.0,653,966.0,444,1
...,...,...,...,...,...,...,...,...
8947,2025-03-14 13:24:58.543193,962.0,2,962.0,214,963.0,19,2
8948,2025-03-14 13:24:58.692367,962.0,1,962.0,213,963.0,19,2
8949,2025-03-14 13:24:59.361847,963.0,1,962.0,213,963.0,19,1
8950,2025-03-14 13:24:59.416397,963.0,5,962.0,213,963.0,14,1
8951,2025-03-14 13:30:00.000000,959.0,6948,959.0,210,960.0,54,2

,ts,close,volume,bid_price,bid_volume,ask_price,ask_volume,tick_type,SMA-20,SMA-diff,SMA-lag-diff
0,2025-03-14 09:00:00.983008,965.0,3660,965.0,643,966.0,139,0,NaN,NaN,NaN
1,2025-03-14 09:00:00.995296,966.0,2,965.0,643,966.0,137,1,NaN,NaN,NaN
2,2025-03-14 09:00:01.134088,965.0,25,965.0,636,966.0,427,2,NaN,NaN,NaN
3,2025-03-14 09:00:01.190067,966.0,1,965.0,647,966.0,443,1,NaN,NaN,NaN
4,2025-03-14 09:00:01.264306,966.0,2,965.0,653,966.0,444,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8947,2025-03-14 13:24:58.543193,962.0,2,962.0,214,963.0,19,2,962.45,-0.45,0.50
8948,2025-03-14 13:24:58.692367,962.0,1,962.0,213,963.0,19,2,962.40,-0.40,-0.45
8949,2025-03-14 13:24:59.361847,963.0,1,962.0,213,963.0,19,1,962.40,0.60,-0.40
8950,2025-03-14 13:24:59.416397,963.0,5,962.0,213,963.0,14,1,962.40,0.60,0.60
8951,2025-03-14 13:30:00.000000,959.0,6948,959.0,210,960.0,54,2,962.25,-3.25,0.60

In [2]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN

### Datetime

In [37]:
from datetime import datetime, timedelta, date

## DateTime

# Basic for retrieving time for now
datetime.now() # datetime.datetime(2025, 3, 16, 16, 37, 37, 989005)
datetime.now().date() # datetime.date(2025, 3, 16)
datetime.now().time() # datetime.time(16, 39, 19, 871389)

datetime.today() # equal to datetime.now()

# Common time formats
datetime.now().isoformat() # '2025-03-16T16:42:04.334998'
datetime.now().timestamp() # 1742114571.130952 # decimal has precision of microsecond

## Convertion
# Convertion between different time formats
iso_now = datetime.now().isoformat()
ts_now = datetime.now().timestamp()

datetime.fromisoformat(iso_now) # equal to datetime.now()
datetime.fromtimestamp(ts_now) # same

# Convertion between datetime and string
dt_str = "2025-03-14 09:00:01.190067"
dt = datetime.strptime(dt_str, "%Y-%m-%d %H:%M:%S.%f") # str to datetime
dt_str = dt.strftime("%Y-%m-%d") # datetime to str by specifying format
print(dt_str)

## TimeDelta

# Basic calculation
tn = datetime.now()
print(tn) # 2025-03-16 16:56:26.174077

add_days = tn + timedelta(days=30)
print(add_days) # 2025-04-15 16:56:26.174077
add_weeks = tn + timedelta(weeks = 2)
print(add_weeks) # 2025-03-30 16:56:26.174077
add_hours = tn + timedelta(hours = 12)
print(add_hours) # 2025-03-17 04:56:26.174077

# timedelta Attributes
duration = timedelta(days=2, seconds=10000)
duration # datetime.timedelta(days=2, seconds=10000)
print(duration) # 2 days, 2:46:40

days_delta = duration.days
print(days_delta) # 2
seconds_delta = duration.seconds
print(seconds_delta) # 10000 
total_seconds_delta = duration.total_seconds()
print(total_seconds_delta) # 182800.0

# seconds attribute returns the defined second part of timedelta
# total_seconds() counts total seconds

## Calculate the Time Difference
dt1 = datetime.strptime("2025-03-14 09:00:01.190067", "%Y-%m-%d %H:%M:%S.%f")
dt2 = datetime.strptime("2025-03-14 13:24:58.543193", "%Y-%m-%d %H:%M:%S.%f")

diff = abs(dt2 - dt1) # datetime.timedelta(seconds=15897, microseconds=353126)
print(diff) # 4:24:57.353126

# Extract timedelta components
days = diff.days # 0
hours = diff.seconds // 3600 # 4.0
minutes = (diff.seconds % 3600) // 60 # 24
seconds = diff.seconds % 60 # 57

2025-03-14
2025-03-16 17:51:17.078413
2025-04-15 17:51:17.078413
2025-03-30 17:51:17.078413
2025-03-17 05:51:17.078413
2 days, 2:46:40
2
10000
182800.0
4:24:57.353126
24
57