In [ ]:
import os
import numpy as np
import pandas as pd
import shioaji as sj
from sj_trading import account, trader_long_term
from IPython.display import display

api = sj.Shioaji(simulation=True)
api.login(
    api_key=os.environ["API_KEY"],
    secret_key=os.environ["SECRET_KEY"],
    fetch_contract=True,
    contracts_timeout=10000
)

Trader = trader_long_term.Trading(api, account.profile)

symbols = ['2330', '2454']
data = Trader.get_market_data(symbols) # data is a dict with {sym, dataframe} pair

# view dataframe of one of symbols
keys = list(data.keys())
key = keys[0]
display(data[key])

2025-05-10 14:45:17.755 | WARNING  | importlib._bootstrap:_call_with_frames_removed:241 - Optional: pip install shioaji[speed] for better performance.

1.2.5
Response Code: 0 | Event Code: 0 | Info: host '210.59.255.161:80', IP 210.59.255.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up

2025-05-10 14:45:24,619 - AutoTrader - INFO - Today is not trading day
2025-05-10 14:45:24,619 - AutoTrader - INFO - Simulate transaction by historical ticks for 2330
2025-05-10 14:45:26,483 - AutoTrader - INFO - 2330 has been read in market data
2025-05-10 14:45:26,483 - AutoTrader - INFO - Simulate transaction by historical ticks for 2454
2025-05-10 14:45:27,706 - AutoTrader - INFO - 2454 has been read in market data

,ts,close,volume,bid_price,bid_volume,ask_price,ask_volume,tick_type
0,2025-05-09 09:00:00.896419,938.0,2873,937.0,4,938.0,508,1
1,2025-05-09 09:00:00.898253,937.0,1,937.0,3,938.0,508,2
2,2025-05-09 09:00:00.944727,937.0,3,936.0,10,938.0,508,2
3,2025-05-09 09:00:01.021063,937.0,1,936.0,10,937.0,2,1
4,2025-05-09 09:00:01.062809,936.0,2,936.0,9,937.0,4,2
...,...,...,...,...,...,...,...,...
8688,2025-05-09 13:24:58.276656,948.0,2,948.0,172,949.0,131,2
8689,2025-05-09 13:24:58.849761,949.0,1,948.0,170,949.0,130,1
8690,2025-05-09 13:24:59.380632,948.0,1,948.0,169,949.0,129,2
8691,2025-05-09 13:24:59.407281,949.0,3,948.0,169,949.0,126,1
8692,2025-05-09 13:30:00.000000,949.0,4017,948.0,27,949.0,184,1

,ts,close,volume,bid_price,bid_volume,ask_price,ask_volume,tick_type,SMA-20,SMA-diff,SMA-lag-diff
0,2025-05-09 09:00:00.896419,938.0,2873,937.0,4,938.0,508,1,NaN,NaN,NaN
1,2025-05-09 09:00:00.898253,937.0,1,937.0,3,938.0,508,2,NaN,NaN,NaN
2,2025-05-09 09:00:00.944727,937.0,3,936.0,10,938.0,508,2,NaN,NaN,NaN
3,2025-05-09 09:00:01.021063,937.0,1,936.0,10,937.0,2,1,NaN,NaN,NaN
4,2025-05-09 09:00:01.062809,936.0,2,936.0,9,937.0,4,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8688,2025-05-09 13:24:58.276656,948.0,2,948.0,172,949.0,131,2,948.50,-0.50,0.45
8689,2025-05-09 13:24:58.849761,949.0,1,948.0,170,949.0,130,1,948.55,0.45,-0.50
8690,2025-05-09 13:24:59.380632,948.0,1,948.0,169,949.0,129,2,948.50,-0.50,0.45
8691,2025-05-09 13:24:59.407281,949.0,3,948.0,169,949.0,126,1,948.50,0.50,-0.50
8692,2025-05-09 13:30:00.000000,949.0,4017,948.0,27,949.0,184,1,948.50,0.50,0.50

### Calculate SMA-20 with historical ticks

In [ ]:
# SMA signal
# default method SMA-20
sma = Trader.analyze_signal(symbol=symbols[0])
display(sma)

### Datetime

In [37]:
from datetime import datetime, timedelta, date

## DateTime

# Basic for retrieving time for now
datetime.now() # datetime.datetime(2025, 3, 16, 16, 37, 37, 989005)
datetime.now().date() # datetime.date(2025, 3, 16)
datetime.now().time() # datetime.time(16, 39, 19, 871389)

datetime.today() # equal to datetime.now()

# Common time formats
datetime.now().isoformat() # '2025-03-16T16:42:04.334998'
datetime.now().timestamp() # 1742114571.130952 # decimal has precision of microsecond

## Convertion
# Convertion between different time formats
iso_now = datetime.now().isoformat()
ts_now = datetime.now().timestamp()

datetime.fromisoformat(iso_now) # equal to datetime.now()
datetime.fromtimestamp(ts_now) # same

# Convertion between datetime and string
dt_str = "2025-03-14 09:00:01.190067"
dt = datetime.strptime(dt_str, "%Y-%m-%d %H:%M:%S.%f") # str to datetime
dt_str = dt.strftime("%Y-%m-%d") # datetime to str by specifying format
print(dt_str)

## TimeDelta

# Basic calculation
tn = datetime.now()
print(tn) # 2025-03-16 16:56:26.174077

add_days = tn + timedelta(days=30)
print(add_days) # 2025-04-15 16:56:26.174077
add_weeks = tn + timedelta(weeks = 2)
print(add_weeks) # 2025-03-30 16:56:26.174077
add_hours = tn + timedelta(hours = 12)
print(add_hours) # 2025-03-17 04:56:26.174077

# timedelta Attributes
duration = timedelta(days=2, seconds=10000)
duration # datetime.timedelta(days=2, seconds=10000)
print(duration) # 2 days, 2:46:40

days_delta = duration.days
print(days_delta) # 2
seconds_delta = duration.seconds
print(seconds_delta) # 10000 
total_seconds_delta = duration.total_seconds()
print(total_seconds_delta) # 182800.0

# seconds attribute returns the defined second part of timedelta
# total_seconds() counts total seconds

## Calculate the Time Difference
dt1 = datetime.strptime("2025-03-14 09:00:01.190067", "%Y-%m-%d %H:%M:%S.%f")
dt2 = datetime.strptime("2025-03-14 13:24:58.543193", "%Y-%m-%d %H:%M:%S.%f")

diff = abs(dt2 - dt1) # datetime.timedelta(seconds=15897, microseconds=353126)
print(diff) # 4:24:57.353126

# Extract timedelta components
days = diff.days # 0
hours = diff.seconds // 3600 # 4.0
minutes = (diff.seconds % 3600) // 60 # 24
seconds = diff.seconds % 60 # 57

2025-03-14
2025-03-16 17:51:17.078413
2025-04-15 17:51:17.078413
2025-03-30 17:51:17.078413
2025-03-17 05:51:17.078413
2 days, 2:46:40
2
10000
182800.0
4:24:57.353126
24
57